@import-normalize; 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vH;
  background: radial-gradient(#08582b, #0f3922);
  color:#fff;
}
a:active, a:visited {
  color:#fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid #fff;
}
.table {
  margin: 10px auto;
  border: 1px solid #fff;
}
table, th, td {
  border: 1px solid rgba(255,255,255,.6);
}
td,th {
  padding: 5px 10px;
}